div.jumbotron
    h2 Welcome to the Oxhn Dashboard!
    p Navigate through the App by Using the Top Navigation Menu

.row
    .col-lg-12
        h2 Features
        |<div class="list-group">
        |    <a href="#" class="list-group-item active">
        |        <h4 class="list-group-item-heading">Keep a Record of the Calls</h4>
        |        <p class="list-group-item-text">Keep a Record of the Calls.</p>
        |    </a>
        |    <a href="#" class="list-group-item">
        |        <h4 class="list-group-item-heading">Process Daily Data</h4>
        |        <p class="list-group-item-text">Process Daily Data</p>
        |    </a>
        |</div>
                   
