node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
dist
/server/config/local.env.js
npm-debug.log
dev.sqlite
tmp

=======
# Logs
logs
*.log
npm-debug.log*

pids
*.pid
*.seed
.grunt
.lock-wscript
.npm
.node_repl_history
