.container-fluid
    h1 Patient Processing Form
    .alert.alert-success.animate-show(role="alert" ng-show="successSwitchState") Form Successfully Submitted!
    form(name="processingForm" ng-show="isVisible").animate-show    
        .form-group(ng-repeat="category in categories", show-errors) 
            label.control-label {{category[0]}}
            br
            input.form-control(style="width: 60px; display: inline-block;", type='number', name='{{category[1]}}', ng-model='patientProcessingForm[category[1]]', required='', placeholder='{{category[1]}}') 
            p(style="display: inline-block; padding: 0 20px;") /
            input.form-control(style="width: 60px; display: inline-block;",type='number', name='{{category[2]}}', ng-model='patientProcessingForm[category[2]]', required='', placeholder='{{category[2]}}')
            p.help-block(ng-if="processingForm[category[1]].$error.required || processingForm[category[2]].$error.required") This field is required
            
        .form-group(show-errors)
            label.control-label Additional Notes
            textarea#comment.form-control(rows='5', ng-model='patientProcessingForm.notes', name='notes', required='required', placeholder='Put Your Comments Here...')
    br
    .button-group
        button.btn.btn-primary(ng-click='submit()') Submit
