.container-fluid(ng-init="getData()")
    h1 Patient Processing Log
    table.table
        thead
            tr
                th {{'Date'}}
                th
                    span(class="{{'New Patients'|tableFilter}}")
                th
                    span(class="{{'1st Treatment'|tableFilter}}")
                th
                    span(class="{{'Treatments'|tableFilter}}")
                th
                    span(class="{{'ABI'|tableFilter}}")
                th
                    span(class="{{'Biopsy'|tableFilter}}")
                th
                    span(class="{{'No Shows'|tableFilter}}")
                th
                    span(class="{{'Canceled'|tableFilter}}")
        tbody(ng-repeat='log in logs')
            tr
                td {{log.date}}
                td {{log.newPatientCompleted}}/{{log.newPatientScheduled}}
                td {{log.firstTreatmentCompleted}}/{{log.firstTreatmentScheduled}}
                td {{log.treatmentsCompleted}}/{{log.treatmentsScheduled}}
                td {{log.abiCompleted}}/{{log.abiScheduled}}
                td {{log.biopsyCompleted}}/{{log.biopsyScheduled}}
                td {{log.noShowsCompleted}}/{{log.noShowsScheduled}}
                td {{log.canceledCompleted}}/{{log.canceledScheduled}}
            tr(col-span="8", style="display: none")
                td {{log.notes}}
