.container-fluid
    h1 Patient Processing Form
    .alert.alert-success.animate-show(role="alert" ng-show="successSwitchState") Form Successfully Submitted!
    form(name="processingForm" ng-show="isVisible").animate-show
        div.panel.panel-default
            div.panel-heading Daily Report Data     
            table.table.table-striped
                tbody
                    tr(ng-repeat='category in categories')
                        th {{category[0]}}
                        td
                            .form-group(show-errors, style="width: 60px;")
                                input.form-control(type='number', name='{{category[1]}}', ng-model='patientProcessingForm[category[1]]', required='', placeholder='{{category[1]}}') 
                        td 
                            div(style="width: 50px") 
                                p out of
                        td
                            .form-group(show-errors, style="width: 60px;")
                                input.form-control(type='number', name='{{category[2]}}', ng-model='patientProcessingForm[category[2]]', required='', placeholder='{{category[2]}}')
                        td(style="width: 100%") 
                            p.help-block(ng-if="processingForm[category[1]].$error.required || processingForm[category[2]].$error.required") This field is required
            
        .form-group(show-errors)
            label.control-label Additional Notes
            textarea#comment.form-control(rows='5', ng-model='patientProcessingForm.notes', name='notes', required='required', placeholder='Put Your Comments Here...')
    br
    .button-group
        button.btn.btn-primary(ng-click='submit()') Submit
