<div class="container-fluid">
  <h1>Call Tracker</h1>
  <form name="userForm" novalidate>
    <div show-errors="show-errors" class="form-group">
      <label class="control-label">First Name</label>
      <input type="text" name="firstName" ng-model="user.firstName" required placeholder="First Name" class="form-control"/>
      <p ng-if="userForm.firstName.$error.required" class="help-block">The user's name is required</p>
    </div>
    <div show-errors="show-errors" class="form-group">
      <label class="control-label">Last Name</label>
      <input type="text" name="lastName" ng-model="user.lastName" required placeholder="Last Name" class="form-control"/>
      <p ng-if="userForm.lastName.$error.required" class="help-block">The user's name is required</p>
    </div>
    <div show-errors="show-errors" class="form group">
      <label class="control-label">Phone</label>
      <input type="text" name="phone" phone-input="phone-input" ng-model="user.phoneNumber" required placeholder="Phone" class="form-control input-phone"/>
      <p ng-if="userForm.phone.$error.required" class="help-block">The user's phone is required</p>
    </div><br/>
    <div show-errors="show-errors" class="form group">
      <label class="control-label">How Can We Help?</label><br/>
      <div>
        <label class="radio-inline">
          <input type="radio" ng-model="user.callType" value="Change"/><span>Change</span>
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="user.callType" value="Cancel"/><span>Cancel</span>
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="user.callType" value="Other"/><span>Other</span>
        </label>
      </div>
      </br>
      <textarea rows="5" ng-if="user.callType==='Other'" ng-model="user.callTypeOther" name="other" placeholder="How can we help?" class="form-control" required></textarea>
    </div><br/>
    <div show-errors="show-errors" class="form group">
      <label class="control-label">What was the Result of the Call?</label><br/>
      <div>
        <label class="radio-inline">
          <input type="radio" ng-model="user.outcome" value="Scheduled"/><span>Scheduled</span>
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="user.outcome" value="Followup"/><span>Follow-up</span>   
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="user.outcome" value="Insurance"/><span>Insurance not Accepted</span>
        </label>
      </div>
      <br/>
      <div ng-if="user.outcome==='Followup'" class="dropdown" id="dropdownMenu2">
        <button class="btn btn-default"
                data-toggle="dropdown">
            <span id="dropdown_title2">{{user.followup}}</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" ng-model="user.followup" value="2 Days">2 Days</a></li>
            <li><a href="#" ng-model="user.followup" value="5 Days">5 Days</a></li>
            <li><a href="#" ng-model="user.followup" value="7 Days">7 Days</a></li>
        </ul>
    </div>
    <textarea rows="5" ng-if="user.outcome==='Insurance'" ng-model="user.ocInsurance" name="other" placeholder="How can we help?" class="form-control" required></textarea>
    </div><br/>
    <div show-errors="show-errors" class="form group">
      <label class="control-label">Additional Notes</label>
      <textarea rows="5" ng-model="user.notes" id="comment" name="notes" required="required" placeholder="Put Your Comments Here..." class="form-control"></textarea>
      <p ng-if="userForm.notes.$error.required" class="help-block">The comments are required</p>
    </div><br/>
    <div class="button-group">
      <button ng-click="save()" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>