<div class="container-fluid" ng-init="getData()">
  <h1>Call Log</h1>
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>Call Initiated</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone Number</th>
          <th>Call Type</th>
          <th>Call Type (Other)</th>
          <th>Outcome</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ticket in users">
          <td>{{ticket._id}}</td>
          <td>{{ticket.callInitiated}}</td>
          <td>{{ticket.firstName}}</td>
          <td>{{ticket.lastName}}</td>
          <td>{{ticket.phoneNumber}}</td>
          <td>{{ticket.callType}}</td>
          <td>{{ticket.callTypeOther}}</td>
          <td>{{ticket.outcome}}</td>
          <td>{{ticket.notes}}</td>
        </tr>
      </tbody>
    </table>

</div>