.container-fluid
    h1 Call Tracker
    img(src="{{googleImage.image.url}}")
    .alert.alert-success.animate-show(role="alert" ng-show="successSwitchState") Form Successfully Submitted!  
    form.animate-show(name='userForm', novalidate='',ng-show="isVisible", autocomplete="on")
        .form-group(show-errors='show-errors')
            label.control-label First Name
            .input-group   
                input.form-control(type='text', name='firstName', ng-model='user.firstName', required='', placeholder='First Name')      
            p.help-block(ng-if='userForm.firstName.$error.required') The user's name is required

        .form-group(show-errors='show-errors')
            label.control-label Last Name
            .input-group 
                input.form-control(type='text', name='lastName', ng-model='user.lastName', required='', placeholder='Last Name')     
            p.help-block(ng-if='userForm.lastName.$error.required') The user&apos;s name is required

        .form-group(show-errors='show-errors')
            label.control-label Phone
            .input-group
                |<input class="form-control input-phone" type='text' name='phone' ng-minlength='10' phone ng-model='user.phoneNumber' required placeholder='Phone'>
            p.help-block(ng-if='userForm.phone.$error.required') The user&apos;s phone is required
            p.help-block(ng-if='userForm.phone.$error.minlength') Phone Number is too Short
        br
        
        .form-group(show-errors='show-errors')
            label.control-label How Can We Help?
            br
            div(class="btn-group")
                label(class="btn btn-primary" ng-model="user.callType"  btn-radio="'Change'" value="Change") Change
                label(class="btn btn-primary" ng-model="user.callType"  btn-radio="'Cancel'" value="Cancel") Cancel
                label(class="btn btn-primary" ng-model="user.callType"  btn-radio="'Other'" value="Other") Other
            br
        .form-group(show-errors='show-errors', ng-if="user.callType==='Other'") 
            label.control-label Other
            textarea.form-control(rows='5', ng-model='user.callTypeOther', name='other', placeholder='How can we help?', required)
            p.help-block(ng-if='userForm.other.$error.required') This field is required
        br

        .form-group(show-errors='show-errors')
            label.control-label What was the Result of the Call?
            br
            div(class="btn-group")
                label(class="btn btn-primary" ng-model="user.outcome"  btn-radio="'Scheduled'" value="Scheduled") Scheduled
                label(class="btn btn-primary" ng-model="user.outcome"  btn-radio="'Followup'" value="Followup") Follow-up
                label(class="btn btn-primary" ng-model="user.outcome"  btn-radio="'Insurance'" value="Insurance") Insurance
                label(class="btn btn-primary" ng-model="user.outcome"  btn-radio="'Other'" value="Other") Other
            br
            div(class="btn-group" ng-if="user.outcome==='Followup'")
                label(class="btn btn-primary" ng-model="user.ocFollowUp"  btn-radio="'2'" value="2") 2 Days
                label(class="btn btn-primary" ng-model="user.ocFollowUp"  btn-radio="'5'" value="5") 5 Days
                label(class="btn btn-primary" ng-model="user.ocFollowUp"  btn-radio="'7'" value="7") 7 Days
            br
            .form-group(show-errors='show-errors', ng-if="user.outcome==='Other'") 
                label.control-label Other
                textarea.form-control(rows='5', ng-model='user.outcomeOther', name='outcomeOther', placeholder='Please, Provide Information', required)
                p.help-block(ng-if='userForm.outcomeOther.$error.required') This field is required
            br
            .form-group(show-errors='show-errors' ng-if="user.outcome==='Insurance'")  
                label.control-label Insurance Issue    
                textarea.form-control(rows='5',  ng-model='user.insurance', name='insurance', placeholder='Please, Provide Explanation of the Issue', required='')
                p.help-block(ng-if='userForm.insurance.$error.required') This field is required
        br
        
        .form-group(show-errors='show-errors')
            label.control-label Additional Notes
            textarea#comment.form-control(rows='5', ng-model='user.notes', name='notes', required='required', placeholder='Put Your Comments Here...')
            p.help-block(ng-if='userForm.notes.$error.required') The comments are required
        br
        .button-group
            button.btn.btn-primary(ng-click='save()') Submit
