html
  body
    .container-fluid(ng-init='getData()')
      h1 Call Log
      div.row
        div.col-xs-4
            div.form-group
                label.control-label Search
                input.form-control(ng-model="query" placeholder="Search")  
      table.table.zebra
        thead
          tr
            th id
            th User ID
            th Call Initiated
            th First Name
            th Last Name
            th Phone Number
            th Call Type
            th Followup
            th Outcome
            
        tbody(ng-repeat="ticket in users|filter:query|orderBy:'-_id'" )  
            tr(ng-click="click($event)" ng-show='true')
                td {{ticket._id}}
                td {{ticket.user}}
                td {{ticket.callInitiated|dateFilter}}
                td {{ticket.firstName}}
                td {{ticket.lastName}}
                td {{ticket.phoneNumber}}
                td {{ticket.callType}}
                td {{ticket.ocFollowUp|dateFilter}}
                td {{ticket.outcome}}
            tr.notes-show(style="display:none")
                td(colspan="3") 
                    strong Notes:
                    p {{ticket.notes}}
                td(colspan="2")
                    strong Referal:
                    p {{ticket.referal}}
                    p(ng-if="ticket.tv") {{ticket.tv}}
                    p(ng-if="ticket.newspaper") {{ticket.newspaper}}
                    p(ng-if="ticket.doctorName") {{ticket.doctorName}}
                    p(ng-if="ticket.patientName") {{ticket.patientName}}
                td(colspan="2") 
                    strong(ng-show="ticket.callTypeOther") Call Type (Other):
                    p(ng-show="ticket.callTypeOther") {{ticket.callTypeOther}}
                td(colspan="2")
                    strong(ng-show="ticket.callTypeOther") Outcome (Other):
                    p(ng-show="ticket.callTypeOther") {{ticket.outcomeOther}}