.animate-show {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;

}

.animate-show.ng-hide {
  opacity:0;
  display: block!important;
}
h1 {
    font-size: 10px;
}

tbody:nth-child(2n) td {
    background-color: lightgrey;
}