div.container-fluid
    h1 Call Tracker
    form(name="userForm" novalidate)
        div.form-group(show-errors)
            label.control-label Call Started at
            input(type="datetime-local",class="form-control", name="callInitiated", ng-model="user.callInitiated" required)
            p.help-block(ng-if="userForm.callInitiated.$error.required") The call initiation time is required
            
        div.form-group(show-errors)
            label.control-label First Name
            input(type="text",class="form-control", name="firstName", ng-model="user.firstName" required, placeholder="First Name")
            p.help-block(ng-if="userForm.firstName.$error.required") The user's name is required
        
        div.form-group(show-errors)
            label.control-label Last Name
            input(type="text",class="form-control", name="lastName", ng-model="user.lastName" required, placeholder="Last Name")
            p.help-block(ng-if="userForm.lastName.$error.required") The user's name is required
            
        div.form.group(show-errors)
            label.control-label Phone
            input.form-control.input-phone(type='text', name='phone', phone-input, ng-model="user.phoneNumber", required, placeholder="Phone")
            p.help-block(ng-if="userForm.phone.$error.required") The user's phone is required
        br
        
        div.form.group(show-errors)
            label.control-label How Can We Help?
            br
            div
                label.radio-inline
                    input(type="radio", ng-model="user.callType", value="Change")
                    span Change
                label.radio-inline
                    input(type="radio", ng-model="user.callType", value="Cancel")
                    span Cancel
                label.radio-inline
                    input(type="radio", ng-model="user.callType", value="Other")
                    span Other
        br
        
        div.form.group(show-errors)
            label.control-label What was the Result of the Call?
            br
            div
                label.radio-inline
                    input(type="radio", ng-model="user.outcome", value="Scheduled")
                    span Scheduled
                label.radio-inline
                    input(type="radio", ng-model="user.outcome", value="Followup") 
                    span Follow-up
                label.radio-inline
                    input(type="radio", ng-model="user.outcome", value="Insurance")
                    span Insurance not Accepted
        br
        
        div.form.group(show-errors)
            label.control-label Additional Notes
            textarea.form-control(rows="5",ng-model="user.notes",id="comment",name="notes" required, placeholder="Put Your Comments Here...")
            p.help-block(ng-if="userForm.notes.$error.required") The comments are required
        br
        
        div.button-group
            button.btn.btn-primary(ng-click="save()") Submit
            button.btn.btn-primary(ng-click="getData()") Get Data
        
        table.table
            thead
                tr
                    th id
                    th Call Initiated
                    th First Name
                    th Last Name
                    th Phone Number
                    th Call Type
                    th Outcome
                    th Notes
            tbody
                tr(ng-repeat="ticket in users")
                    td {{ticket._id}}
                    td {{ticket.callInitiated}}
                    td {{ticket.firstName}}
                    td {{ticket.lastName}}
                    td {{ticket.phoneNumber}}
                    td {{ticket.callType}}
                    td {{ticket.outcome}}
                    td {{ticket.notes}}